[submodule "UPM-ES-cyclonevbsp"]
	path = UPM-ES-cyclonevbsp
	url = ../../mruizglz/UPM-ES-cyclonevbsp.git
[submodule "SoC-FPGA-Design-Guide"]
	path = SoC-FPGA-Design-Guide
	url = https://github.com/sahandKashani/SoC-FPGA-Design-Guide.git
[submodule "u-boot"]
	path = u-boot
	url = ../../u-boot/u-boot.git
[submodule "EmbeddedLinux_De1-SOC.wiki"]
	path = EmbeddedLinux_De1-SOC.wiki
	url = ../EmbeddedLinux_De1-SOC.wiki.git
