[submodule "UPM-ES-cyclonevbsp"]
	path = UPM-ES-cyclonevbsp
	url = ../../mruizglz/UPM-ES-cyclonevbsp.git
[submodule "SoC-FPGA-Design-Guide"]
	path = SoC-FPGA-Design-Guide
	url = https://github.com/sahandKashani/SoC-FPGA-Design-Guide.git
[submodule "EmbeddedLinux_De1-SOC.wiki"]
	path = EmbeddedLinux_De1-SOC.wiki
	url = ../EmbeddedLinux_De1-SOC.wiki.git
[submodule "linux-socfpga.a9"]
	path = linux-socfpga.a9
	url = ../../altera-opensource/linux-socfpga.git
[submodule "u-boot-socfpga"]
	path = u-boot-socfpga
	url = ../../altera-opensource/u-boot-socfpga.git
[submodule "yocto/poky"]
	path = yocto/poky
	url = https://git.yoctoproject.org/cgit/cgit.cgi/poky/
[submodule "yocto/meta-intel-fpga"]
	path = yocto/meta-intel-fpga
	url = https://git.yoctoproject.org/cgit/cgit.cgi/meta-intel-fpga/
